{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <style>
table, th, td {
    border: 1px solid black;
}
</style>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/index.css" %}">
    <script type="text/javascript" src="{% static "website/js/scriptyskippy.js"%}" ></script>
    <script type="text/javascript" src="{% static "website/js/jquery.js"%}" ></script>
    <title>MOOC</title>
  </head>

  <body>
    <div id="input_output">
      <table>
	<tr>
	    <td id="exercise">
	    {{exercice | safe}}
	    </td>
	  </td>
	  <td id="question_label" colspan="3">
	      {{label | safe}}
	  </td>
	</tr>
	<tr>
	    <td id="question">
		{{question | safe}}
	    </td>
	  <td id="input">
	    <form>
	      <textarea>Tapez votre requete ici ...</textarea>
	      <input type="button" onclick="get_request()" value="Envoyer" /> 
	    </form>
	  </td>
	  <td id="output_request">
	    <p>La reponse</p>
	  </td>
	  <td id="expected_request">
	    <p>La requete attendue</p>
	  </td>
	</tr>
      </table>
  </body>

</html> 
