{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/index.css" %}">
    <script type="text/javascript" src="{% static "website/js/request.js"%}" ></script>
    <script type="text/javascript" src="{% static "website/js/editor.js"%}" ></script>
    <script type="text/javascript" src="{% static "website/js/lexical.js"%}" ></script>
    <script type="text/javascript" src="{% static "website/js/syntax.js"%}" ></script>
    <script type="text/javascript" src="{% static "website/js/jquery.js"%}" ></script>
    <title>MOOC</title>
  </head>

  <body>
    <div id="header">
      
      <span id="exercise" class="custom-dropdown custom-dropdown--white">
	{{exercice | safe}}
      </span>

      <span id="question" class="custom-dropdown custom-dropdown--white">
	{{question | safe}}
      </span>
      
      <div id="question_label">
	{{label | safe}}
      </div>

    </div>

    
    <div id="input">
      <div id="input_text" contenteditable="true" onkeyup="color()">Tapez votre requete ici ...</div>
      
      <form id="form_submit">
	<input type="button" onclick="get_request(); get_hint()" value="Envoyer" /> 
	<input type="button" onclick="reset_tables()" value="Reset BDD" />
      </form>
      
      <div id="hint">
	Un conseil !
      </div>

      
    </div>
    <div id="display_request">


      <div id="output_request">
	<p>La reponse</p>
      </div>
      <hr>
      <div id="expected_request">
	{{expected_request |safe }}
      </div>
    </div>

    <div id="tables">
	{{tables | safe}}
    </div>
  </body>

</html> 
