body {
    background: #FFFFFF;
}

#input_output table {
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}
	 
#tables_exercice{
    display: inline;
}

.color-0 {
    background: green;
}

.color-1 {
    background: orange;
}

.color-2 {
    background: red;
}
